[settings]
default = dealwallet_scraper.settings

[deploy:local]
url = http://127.0.0.1:6800/
project = dealwallet_scraper

[deploy:k8s]
url = http://dealwallet-scrapyd:4096/
project = dealwallet_scraper
